*/.ipynb_checkpoints
*.aux
*.log
*.gz
*.synctex.gz
List 3/Nowy folder/L3_ZAD3_sample_output.txt
List 3/Nowy folder/L3_ZAD1.py
List 3/Nowy folder/L3_ZAD2.py
List 3/Nowy folder/L3_ZAD3.py
List 3/Nowy folder/L3_ZAD3_sample_text.txt
List 6/Chyba gorsze.ipynb